@use "../abstracts/colors";

.find-friend-container {
  width: 100vw;
  margin-top: 4rem;
}

.make-friends-container {
  flex: 0.3;
  // background-color: brown;
  padding-inline: 3rem;
}

.findFriends-container {
  flex: 0.8;
  // background-color: cadetblue;
}

.make-friends-header,
.findFriends-header {
  padding: 0.7rem 0.8rem;
  border-bottom: 2px solid rgba(0, 0, 0, 0.099);
  font-size: 1.4rem;
  font-weight: 700;
}

.make-friends-body {
  width: 100%;
}
.find-new-friend-container,
.friend-request-container {
  height: 50px;
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
}

.findFriends-searchbar-container {
  width: 100%;
  padding: 0.8rem;
  border-bottom: 2px solid rgba(0, 0, 0, 0.099);
}
.findFriends-input {
  width: 100%;
  height: 40px;
  padding-inline: 1rem;
}

.findFriends-friendlist-container {
  height: 475px;
  width: 100%;
  // padding-block: 0.5rem;
  padding-inline: 1.5rem;
  // background-color: red;
  overflow: auto;
}

.findFriends-friendlist-container.friend-requests-container {
  height: 542px;
}

.friend-photo {
  width: 40px;
  height: 40px;
}
.findFriends-friendName {
  font-size: 1rem;
  font-weight: 700;
  padding-left: 1rem;
}
.findFriend-add-btn,
.findFriend-decline-btn {
  padding: 0.2rem 0.5rem 0.2rem 0.8rem;
  font-size: 0.8rem;
  font-weight: 700;
  background-color: colors.$primary;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}
.findFriend-add-btn {
  margin-top: 0.5rem;
}
.findFriend-decline-btn {
  background-color: white;
  color: red;
  border: 2px solid red;
  margin-top: 0.5rem;
}

.friend-requests-btn-container {
  gap: 1rem;
}

.findFriends-paper {
  width: 500px;
  height: 600px;
  margin-right: 1rem;
}

.friend-container {
  margin-top: 0.5rem;
}

.friend-requests-count {
  height: 25px;
  width: 25px;
  background-color: red;
  color: white;
  margin-left: 1rem;
  border-radius: 50%;
  font-size: 0.9rem;
}

@media (max-width: "900px") {
  .find-friend-container {
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }
  .findFriends-paper {
    margin-right: 0;
  }
}

@media (max-width: 500px) {
  .findFriends-paper {
    width: 350px;
  }
  .findFriends-friendlist-container {
    padding-inline: 0.5rem;
  }

  .friend-container {
    flex-direction: column;
  }
  .friend-requests-btn-container {
    margin-top: 0.5rem;
  }
}
