.notifications-container {
  width: 100vw;
  margin-top: 2rem;
}
.notifications-title-container {
  padding: 0.5rem 1rem;

  border-bottom: 1px solid #e9e9e9;
  .notification-title {
    font-size: 1.5rem;
    font-weight: 700;
  }
}
.notification-paper {
  width: 480px;
  height: 700px;
}

.notification-container {
  padding: 0.5rem 1rem;
  border-bottom: 1px solid #e9e9e9;

  .notification-user {
    font-weight: 700;
  }
}

.notification-user-icon {
  width: 30px;
  height: 30px;
  margin-right: 0.3rem;
}

.notification-text {
  font-weight: 500;
}

@media (max-width: 500px) {
  .notification-paper {
    width: 420px;
    height: 550px;
  }

  .notification-text {
    font-size: 0.9rem;
  }
}
@media (max-width: 450px) {
  .notification-paper {
    width: 360px;
  }

  .notification-text {
    font-size: 0.8rem;
  }
}
