@use "../abstracts/colors";

.profile-container {
  width: 100vw;
  height: auto;
}

.profile-header-container {
  width: 100%;
  // height: 37rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.099);
  // background-color: red;
}
.profile-cover {
  max-width: 70rem;
  height: auto;
  // height: 25rem;
  // background-color: brown;
  overflow: hidden;
}
.cover-img {
  height: auto;
}
.profile-user-info {
  max-width: 70rem;
  height: 10rem;
  position: relative;
}

.profile-user-pic {
  width: 10rem;
  height: 10rem;
  transform: translateY(-3rem) translateX(3rem);
  //   position: absolute;
  //   top: -3rem;
  //   left: 5rem;
}

.profile-username-container {
  margin-left: 5rem;
  line-height: 1.3;
  width: 100%;
}

.profile-username {
  font-size: 1.8rem;
  font-weight: 700;
}

.profile-addfriend {
  margin-top: 0.5rem;
  margin-left: auto;
  margin-right: 1rem;
}

.addfriend-btn {
  width: 140px;
  padding: 0.3rem 0.5rem;
  font-size: 1rem;
  font-weight: 700;
  background-color: colors.$primary;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}

.editProfile-btn {
  width: 140px;
  padding: 0.3rem 0.5rem;
  font-size: 1rem;
  font-weight: 700;
  background-color: white;
  border: none;
  border-radius: 5px;
  color: #5600ac;
  cursor: pointer;
  border: 2px solid #5600ac;
}

.updateProfile-btn {
  width: 170px;
  padding: 0.3rem 0.5rem;
  font-size: 1rem;
  font-weight: 700;
  background-color: #5600ac;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  border: 2px solid #5600ac;
}

.cancleUpdateProfile-btn {
  width: 140px;
  padding: 0.3rem 0.5rem;
  font-size: 1rem;
  font-weight: 700;
  background-color: white;
  border: none;
  border-radius: 5px;
  color: red;
  cursor: pointer;
  border: 2px solid red;
}

.tabs-container {
  gap: 2rem;
  span {
    font-size: 1.1rem;
    font-weight: 700;
  }
}

.tab {
  cursor: pointer;
}

.tab.active {
  border-bottom: 3px solid #5600ac;
}

.profile-body-container {
  width: 100%;
}

.profile-body-wrapper {
  width: 70rem;
  //   background-color: aquamarine;
}

.profile-info-container {
  flex: 0.5;
  //   background-color: brown;
}

.profile-posts-container {
  flex: 1;
  margin-left: 1rem;
  //   background-color: burlywood;
}

.profile-info-title {
  font-size: 1.2rem;
  font-weight: 700;
  border-bottom: 2px solid rgba(0, 0, 0, 0.099);
  padding: 0.5rem 0.5rem;
}

.profile-info-text {
  margin-top: 1rem;
  padding-inline: 0.5rem;
}

.information-title {
  font-weight: 700;
}

.profile-posts-wrapper {
  margin-top: 2rem;
}

.profile-posts-title {
  padding-bottom: 0.55rem;
  font-size: 1.5rem;
  font-weight: 700;
  border-bottom: 2px solid rgba(0, 0, 0, 0.099);
}

.profile-posts-post-container {
  margin-top: 2rem;
}

@media (max-width: 700px) {
  .profile-user-pic {
    width: 10rem;
    height: 10rem;
    position: absolute;
    // top: 50%;
    left: 50%;
    transform: translateY(-3rem) translateX(-50%);
  }

  .profile-username-container,
  .profile-addfriend {
    position: absolute;
    left: 50%;
    transform: translateY(50%) translateX(-50%);
  }
  .profile-username-container {
    top: 55%;
    margin: 0;
    align-items: center;
  }
  .profile-addfriend {
    top: 100%;
  }
  .profile-header-container {
    height: auto !important;
    padding-bottom: 7rem;
    position: relative;
  }
  .tabs-container {
    position: absolute;
    bottom: 0;
    padding-inline: 0.5rem;
  }

  .profile-body-wrapper {
    flex-direction: column;
    align-items: center;
  }
  .profile-posts-container {
    margin-left: 0;
  }
}

@media (max-width: 1120px) {
  .tabs-container {
    padding-inline: 0.5rem;
  }

  .profile-info-container {
    padding-left: 0.5rem;
  }
}
