@use "../abstracts/colors";

.your-friends-container {
  flex: 1;
  margin-top: 20px;
  // background-color: brown;
}

.title-container {
  font-size: 1.3rem;
  font-weight: 700;
  height: 50px;
  width: 100%;
  padding: 12px;
  border-bottom: 2px solid #e9e9e9;
  color: #272727;
}

.icon {
  width: 30px;
  height: 30px;
}

.friend {
  width: 100%;
  padding: 5px 12px 5px 12px;
}

.friends-name {
  font-size: 1rem;
  font-weight: 600;
  padding-left: 10px;
}

button {
  font-size: 0.9rem;
  font-weight: 600;
  background-color: colors.$primary;
  border: none;
  border-radius: 5px;
  color: white;
  padding: 0.2rem 0.5rem 0.2rem 0.5rem;
  cursor: pointer;
}

@media (max-width: 1250px) {
  .your-friends-container {
    flex: 0.8;
  }
}

@media (max-width: 850px) {
  .your-friends-container {
    flex: 0.1;
  }
}
@media (max-width: 800px) {
  #your-friends-container {
    display: none;
  }
}
